body {
  background-color: #21242b !important;
}

footer {
  border-top: 5px solid #20232a;
  color: #ddd1c3 !important;
  background-color: #2c2f38 !important;
}

nav {
  border-bottom: 5px solid #20232a;
  background-color: #2c2f38 !important;
}

nav h1 {
  color: white !important;
}

nav li {
  z-index: 2999;
}

#color-title {
  color: #838383ca !important;
  font-weight: bold !important;
}

#name,
#fn {
  background-color: #21242b !important;
  border-bottom: 1px solid rgb(246, 121, 4) !important;
  color: rgb(246, 121, 4) !important;
}

/*/////////////////////////////////////////////////////////////////
/* LOGO
////////////////////////////////////////////////////////////////*/
#logo {
  height: 120px;
  z-index: 3000;
}

/*/////////////////////////////////////////////////////////////////
/* SLIDER
////////////////////////////////////////////////////////////////*/
#slider {
  margin: 0;
  padding: 0;
  margin-top: 40px;
}

#slides {
  width: 80%;
  height: 400px;
  position: relative;
  margin: auto;
}

#slides ul {
  list-style-type: none;
}

.slide {
  position: absolute;
  left: 0;
  top: 0;
  height: 400px;
  width: 100%;
  opacity: 0;

  -webkit-transition: opacity 1s;
  -moz-transition: opacity 1s;
  -o-transition: opacity 1s;
  transition: opacity 1s;
}

.showing {
  opacity: 1;

}

#prevBtn {
  font-size: 2em;
  color: rgb(246, 121, 4) !important;
  /* position: absolute;
  top: 60%;
  left: 20px; */
}

#nextBtn {
  font-size: 2em;
  color: rgb(246, 121, 4) !important;
  /* position: absolute;
  top: 60%;
  right: 20px; */
}


#pauseBtn {
  color: rgb(246, 121, 4) !important;
  font-size: 2em;
  /* position: absolute;
  top: 90%; */
}

#playBtn {
  color: rgb(246, 121, 4) !important;
  font-size: 2em;
  /* position: absolute;
  top: 90%; */
  display: none;
}

/*/////////////////////////////////////////////////////////////////
/* MAP
////////////////////////////////////////////////////////////////*/
#mapid {
  width: 80%;
  margin: auto;
  height: 650px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  border: 1px solid rgba(158, 158, 158, 0.287);
}

/*Div contenant les informations station et formulaire*/
#bloc_station {
  /* width: 20%; */
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 4px;
  background-color: transparent;
  border: 1px solid rgba(158, 158, 158, 0.287);
}

.fa-cc-mastercard {
  font-size: 2em;
}

#station_address {
  height: 55px !important;
  padding: 8px;
  text-justify: auto;
  color: rgb(246, 121, 4) !important;
}

#station_name {
  height: 30px !important;
  width: 80% !important;
  color: rgb(246, 121, 4) !important;
}

#booking {
  display: none;
}

.booking_over {
  color: red;
  font-weight: bold;
}

#current_booking {
  display: none;
}

.closed {
  background-color: red;
  color: white;
  padding: 10px;
  border-radius: 4px;
  padding: 10px;
  border: 1px solid white;
}


/*Style de "Station ouverte*/
.open {
  background-color: #2abe04;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
}

.available_bikes {
  color: #2abe04;
  /* background-color: #2abe04; */
  padding: 10px;
  font-weight: bold;
  /* border: 1px solid white;
  border-radius: 4px; */
}

.available_bikes:before {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  content: "\f206";
  margin-right: 2px;
}

.available_bike_stand {
  /* background-color: #2abe04; */
  color: #2abe04;
  padding: 10px;
  /* border: 1px solid white; */
  /* border-radius: 4px; */
  font-weight: bold;
}

.no_available_stand {
  background-color: red;
  color: white;
  padding: 10px;
  border: 1px solid white;
  border-radius: 4px;
}

.no_bike {
  background-color: red;
  color: white;
  border: 1px solid white;
  border-radius: 4px;
  padding: 10px;
}

#error_form {
  color: red;
}

#sign_form {
  display: none;
}

#error_sign {
  color: red;
}

/*/////////////////////////////////////////////////////////////////
/* CANVAS
////////////////////////////////////////////////////////////////*/
#canvas {
  border: 1px solid rgb(246, 121, 4) !important;
  background-color: whitesmoke !important;
}

/*/////////////////////////////////////////////////////////////////
/* RESERVATION
////////////////////////////////////////////////////////////////*/
#bookingStation {
  color: rgb(246, 121, 4) !important
}

#your_booking {
  color: #ddd1c3 !important;
}

.border_booking {
  border: 1px solid rgb(246, 121, 4) !important;
  padding: 20px 30px 20px 30px;
  border-radius: 5px;
}

#timer {
  color: rgb(246, 121, 4) !important;
}